* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-weight: normal;
  font-size: 16px;
}

ul {
  list-style: none;
}

html,
body {
  background-color: #ffffff;
  height: 100%;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  color: #333333;
  text-align: center;
}

a {
  font-family: sans-serif;
  color: #333333;
}
