html,
body {
  background-color: #fafafa;
}

body {
  padding: 20px;
  display: grid;
  place-content: center;
  gap: 16px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  /* gap for Flexbox 💐💐💐 */
  gap: 16px;
}

.box {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  padding: 5px;
  font-family: "M PLUS Rounded 1c";
  font-size: 40px;
  background: #29031e;
  border-radius: 16px;
  border-width: 5px;
  border-style: solid;
}

.box1 {
  color: #c98df6;
}

.box2 {
  color: #f45df0;
}

.box3 {
  color: #f429b4;
}

.box4 {
  color: #f4481a;
}

.box5 {
  color: #efad0a;
}

.box6 {
  color: #aee712;
}
.box7 {
  color: #3ce8a2;
}

.box8 {
  color: #0adcb2;
}

.box9 {
  color: #0bbff4;
}
